.Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    text-decoration: none;
    color: inherit;
  }
  .logoText {
    opacity: 0;
    margin: 0 auto 0 1rem;
    width: 100px;
  }
  .nav ul {
    display: flex;
    li {
      margin: 1rem;
      list-style: none;
    }
  }
  .instaLogo {
    font-size: 2rem;
    margin: 1rem;
    color: rgb(0, 4, 118);
  }
}
.scrolled {
  display: none;
}
@media (min-width: 1000px) {
  .Navbar {
    font-size: 1.5rem;
  }
}
