.Content {
  display: flex;
  flex-flow: column, nowrap;
  justify-content: center;
  margin: 0;
  ul {
    padding: 0;
    margin: auto;
  }
  li {
    margin: 1rem;
    list-style: none;
    text-align: center;
    a {
      font-size: 1.5rem;
      font-family: futura;
      color: rgb(0, 4, 118);
      text-decoration: none;
      &:hover {
        color: rgb(249, 165, 22);
      }
    }
  }
  .Video {
    text-align: center;
  }
}
